#nav {
  color: #B4B4B4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.brand {
  font-size: 60px;
  text-decoration: none;
  font-weight: 800;
  color: #B4B4B4;
}
.brand:hover, .brand:focus {
  color: #DDD;
  text-decoration: none;
}
#nav blockquote {
  font-style: italic;
  font-size: 18px;
}
