#nav {
  color: rgb(140, 140, 140);
  font-family: 'Open Sans', sans-serif;
}
.brand {
  font-size: 60px;
  text-decoration: none;
  font-weight: 800;
  color: rgb(120, 120, 120);
}
.brand:hover, .brand:focus {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
#nav p {
  font-size: 16px;
  font-weight: 400;
} 
#nav .tagline {
  font-size: 93%;
  margin-top: -10px;
  margin-bottom: 25px;
  font-style: italic;
}
.pub_date {
  border-right: 5px solid rgb(190, 190, 190);
  padding: 5px 20px;
  margin: 0px 0px 20px;
  font-size: 16px;
  font-family: 'Open Sans',sans-serif;
}
.reading-menu {
  padding-left: 0;
  margin-top: 25px;
}
.reading-menu li {
  list-style: none;
}
.reading-menu span {
  float: right;
  padding-top: 5px;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
}
.reading-menu h2 {
  font-size: 26px;
  font-weight: 400;
}