/* Custom CSS */

#nav {
  color: rgb(100, 100, 100);
  font-family: 'Source Sans Pro', sans-serif;
}
#nav p {
  font-size: 18px;
  font-weight: 400; 
}
.brand {
  font-size: 60px;
  font-weight: 900;
  text-decoration: none;
}
.brand:hover, .brand:focus {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
.brand, .author a {
  color: rgb(100, 100, 100);
}
.author a {
  text-decoration: underline;
}
.author a:hover, .author a:focus {
  color: rgb(0, 184, 255);
  text-decoration: none;
}
#nav .tagline {
  font-size: 93%;
  margin-top: -8px;
  margin-bottom: 25px;
  font-style: italic;
}
.meta-data {
  border-right: 3px solid rgb(190, 190, 190);
  padding: 5px 20px;
  margin: 0px 0px 35px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}
.meta-data span {
  margin-left: 30px;
}
.reading-menu {
  padding-left: 0;
  margin-top: 85px;
}
.reading-menu li {
  list-style: none;
}
.reading-menu span {
  float: right;
  padding-top: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
}
.reading-menu h2 {
  font-size: 1.3em;
  font-weight: 400;
}
article {
  line-height: 1.4em;
}
article img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Icon set */

@charset "UTF-8";
@font-face {
  font-family: "icon-set";
  src:url("fonts/icon-set-eot.eot");
  src:url("fonts/icon-set-eot.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-set-ttf.ttf") format("truetype"),
    url("fonts/icon-set-svg.svg#untitled-font-1") format("svg"),
    url("fonts/icon-set-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icon-set";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-set";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
} 
.icon-clock:before {
   content: "b"; 
} 
.icon-github-circled:before {
   content: "a"; 
} 
.icon-cc-by:before {
   content: "c"; 
} 
.icon-cc:before {
   content: "d"; 
} 
.icon-facebook-circled:before {
   content: "e"; 
} 
.icon-info-circled:before {
   content: "f"; 
} 
.icon-linkedin-circled:before {
   content: "g"; 
} 
.icon-twitter-circled:before {
   content: "h"; 
} 
.icon-rss:before {
   content: "i"; 
} 
.icon-search:before {
   content: "j"; 
} 
.icon-heart:before {
   content: "k"; 
} 
.icon-heart-empty:before {
   content: "l"; 
} 
.icon-flow-branch:before {
   content: "m"; 
} 
.icon-megaphone:before {
   content: "p"; 
} 
.icon-mail:before {
   content: "s"; 
} 
.icon-tag:before {
   content: "r"; 
} 
.icon-stopwatch:before {
   content: "q"; 
} 
.icon-comment:before {
   content: "o"; 
} 
.icon-chat:before {
   content: "t"; 
}
