#nav {
  color: #B4B4B4;
  font-family: 'Open Sans', sans-serif;
}
.brand {
  font-size: 60px;
  text-decoration: none;
  font-weight: 800;
  color: #B4B4B4;
}
.brand:hover, .brand:focus {
  color: #DDDDDD;
  text-decoration: none;
}
#nav blockquote {
  font-style: italic;
  font-size: 18px;
}
#nav p {
  font-size: 18px;
  font-weight: 400;
}